In [25]:
import pandas as pd

In [55]:
%pip install SQLAlchemy
%pip install pymysql
from sqlalchemy import create_engine

file=open('../password.txt', 'r')
password=file.readlines()[0]

str_conn=f'mysql+pymysql://root:{password}@localhost:3306/films' 

motor=create_engine(str_conn)

Requirement already satisfied: SQLAlchemy in c:\users\alberto\anaconda3\envs\clase\lib\site-packages (1.4.35)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\alberto\anaconda3\envs\clase\lib\site-packages (from SQLAlchemy) (1.1.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pymysql in c:\users\alberto\anaconda3\envs\clase\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [27]:
df_actor=pd.read_csv(r'data\actor.csv')
df_category=pd.read_csv(r'data\category.csv')
df_film=pd.read_csv(r'data\film.csv')
df_inventory=pd.read_csv(r'data\inventory.csv')
df_language=pd.read_csv(r'data\language.csv')
df_rental=pd.read_csv(r'data\rental.csv')
df_hdd=pd.read_csv(r'data\old_HDD.csv')
dfs=[df_actor,df_category,df_film,df_inventory,df_language,df_rental]

Removing duplicates

In [28]:
for e in dfs:
    e.drop_duplicates(inplace=True)

Cleaning NaN

In [29]:
for e in dfs:
   print( e.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     200 non-null    int64
 1   first_name   200 non-null    object
 2   last_name    200 non-null    object
 3   last_update  200 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   category_id  16 non-null     int64
 1   name         16 non-null     object
 2   last_update  16 non-null     object
dtypes: int64(1), object(2)
memory usage: 512.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               1000 non-null   int64
 1   title                 1000 non-null   object
 2   description           1000 non-null   object
 3   release_year          1000 non-null   int64
 4   language_id           1000 non-null   int64
 5   original_language_id  0 non-null      float64
 6   rental_duration       1000 non-null   int64
 7   rental_rate           1000 non-null   float64
 8   length                1000 non-null   int64
 9   replacement_cost      1000 non-null   float64
 10  rating                1000 non-null   object
 11  special_features      1000 non-null   object
 12  last_update           1000 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 109.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
 3   last_update   1000 non-null   object
dtypes: int64(3), object(1)
memory usage: 39.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   language_id  6 non-null      int64
 1   name         6 non-null      object
 2   last_update  6 non-null      object
dtypes: int64(1), object(2)
memory usage: 192.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int64
 1   rental_date   1000 non-null   object
 2   inventory_id  1000 non-null   int64
 3   customer_id   1000 non-null   int64
 4   return_date   1000 non-null   object
 5   staff_id      1000 non-null   int64
 6   last_update   1000 non-null   object
dtypes: int64(4), object(3)
memory usage: 62.5+ KB
None

In [30]:
df_film.dropna(inplace=True, axis=1)  # original_languaje_id is the only column with nulls and it is empty

Foreign key category_id to df_film

In [31]:
df_hdd.head()

  first_name last_name                  title  release_year  category_id
0   PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1   PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2   PENELOPE   GUINESS            ANGELS LIFE          2006           13
3   PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4   PENELOPE   GUINESS          CHEAPER CLYDE          2006           14

In [76]:
df_film.head()

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,category_id
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,6
1,23,ANACONDA CONFESSIONS,A Lacklusture Display of a Dentist And a Denti...,2006,1,3,0.99,92,9.99,R,"Trailers,Deleted Scenes",2006-02-15 05:03:42,2
2,25,ANGELS LIFE,A Thoughtful Display of a Woman And a Astronau...,2006,1,3,2.99,74,15.99,G,Trailers,2006-02-15 05:03:42,13
3,106,BULWORTH COMMANDMENTS,A Amazing Display of a Mad Cow And a Pioneer w...,2006,1,4,2.99,61,14.99,G,Trailers,2006-02-15 05:03:42,10
4,140,CHEAPER CLYDE,A Emotional Character Study of a Pioneer And a...,2006,1,6,0.99,87,23.99,G,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42,14

In [33]:
nuevo = pd.merge(df_film,df_hdd[['title', 'category_id']],on='title', how='right')

In [34]:
nuevo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   film_id           1000 non-null   int64
 1   title             1000 non-null   object
 2   description       1000 non-null   object
 3   release_year      1000 non-null   int64
 4   language_id       1000 non-null   int64
 5   rental_duration   1000 non-null   int64
 6   rental_rate       1000 non-null   float64
 7   length            1000 non-null   int64
 8   replacement_cost  1000 non-null   float64
 9   rating            1000 non-null   object
 10  special_features  1000 non-null   object
 11  last_update       1000 non-null   object
 12  category_id       1000 non-null   int64
dtypes: float64(2), int64(6), object(5)
memory usage: 109.4+ KB

In [35]:
df_film=nuevo

In [80]:
df_film.drop_duplicates(inplace=True)

Intermediate table for film and actor tables

In [36]:
df_actor.head()

   actor_id first_name     last_name          last_update
0         1   PENELOPE       GUINESS  2006-02-15 04:34:33
1         2       NICK      WAHLBERG  2006-02-15 04:34:33
2         3         ED         CHASE  2006-02-15 04:34:33
3         4   JENNIFER         DAVIS  2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33

In [37]:

nuevo = pd.merge(df_film[['category_id','film_id']],df_hdd[['first_name', 'last_name','category_id']],on='category_id', how='left')

In [38]:
nuevo.head()

   category_id  film_id first_name last_name
0            6        1   PENELOPE   GUINESS
1            6        1       NICK  WAHLBERG
2            6        1         ED     CHASE
3            6        1         ED     CHASE
4            6        1         ED     CHASE

In [39]:
df_actor.head()

   actor_id first_name     last_name          last_update
0         1   PENELOPE       GUINESS  2006-02-15 04:34:33
1         2       NICK      WAHLBERG  2006-02-15 04:34:33
2         3         ED         CHASE  2006-02-15 04:34:33
3         4   JENNIFER         DAVIS  2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33

In [40]:

nuevo = pd.merge(df_actor,nuevo[['first_name', 'last_name','film_id']],on=['first_name','last_name'], how='left')
nuevo.head()

   actor_id first_name last_name          last_update  film_id
0         1   PENELOPE   GUINESS  2006-02-15 04:34:33      1.0
1         1   PENELOPE   GUINESS  2006-02-15 04:34:33     23.0
2         1   PENELOPE   GUINESS  2006-02-15 04:34:33     25.0
3         1   PENELOPE   GUINESS  2006-02-15 04:34:33     25.0
4         1   PENELOPE   GUINESS  2006-02-15 04:34:33    106.0

In [41]:
df_actor_has_film=nuevo[['actor_id','film_id']] # intermediate table
df_actor_has_film.head()

   actor_id  film_id
0         1      1.0
1         1     23.0
2         1     25.0
3         1     25.0
4         1    106.0

In [42]:
df_actor_has_film.drop_duplicates(inplace=True)
df_actor_has_film.dropna(axis=0, inplace=True)

C:\Users\Alberto\AppData\Local\Temp\ipykernel_2996\3061694184.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_actor_has_film.drop_duplicates(inplace=True)
C:\Users\Alberto\AppData\Local\Temp\ipykernel_2996\3061694184.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_actor_has_film.dropna(axis=0, inplace=True)

In [43]:
df_actor_has_film.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19083 entries, 0 to 64637
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   actor_id  19083 non-null  int64
 1   film_id   19083 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 447.3 KB

Rental table foreign key

In [44]:
df_rental.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53

In [45]:
df_rental['inventory_id'].value_counts() # inventory_id values do not repeat, hence we asume a 1 to 1 relationship between tables

367     1
1769    1
1414    1
2247    1
2968    1
       ..
946     1
4168    1
4019    1
3301    1
1498    1
Name: inventory_id, Length: 1000, dtype: int64

Df to database

In [56]:

df_actor.to_sql('actor',motor,schema='films',if_exists='replace',index=False)

200

In [62]:
df_language.to_sql('language',motor,schema='films',if_exists='replace',index=False)

6

In [65]:
df_category.to_sql('category',motor,schema='films',if_exists='replace',index=False)

16

In [81]:

df_film.to_sql('film',motor,schema='films',if_exists='replace',index=False)

614

In [84]:
df_actor_has_film.to_sql('actor_has_film',motor,schema='films',if_exists='append',index=False)

19083

In [83]:
df_rental.to_sql('rental',motor,schema='films',if_exists='replace',index=False)

IntegrityError: (pymysql.err.IntegrityError) (1452, 'Cannot add or update a child row: a foreign key constraint fails (`films`.`rental`, CONSTRAINT `fk_rental_inventory1` FOREIGN KEY (`inventory_id`) REFERENCES `inventory` (`inventory_id`))')
[SQL: INSERT INTO films.rental (rental_id, rental_date, inventory_id, customer_id, return_date, staff_id, last_update) VALUES (%(rental_id)s, %(rental_date)s, %(inventory_id)s, %(customer_id)s, %(return_date)s, %(staff_id)s, %(last_update)s)]
[parameters: ({'rental_id': 1, 'rental_date': '2005-05-24 22:53:30', 'inventory_id': 367, 'customer_id': 130, 'return_date': '2005-05-26 22:04:30', 'staff_id': 1, 'last_update': '2006-02-15 21:30:53'}, {'rental_id': 2, 'rental_date': '2005-05-24 22:54:33', 'inventory_id': 1525, 'customer_id': 459, 'return_date': '2005-05-28 19:40:33', 'staff_id': 1, 'last_update': '2006-02-15 21:30:53'}, {'rental_id': 3, 'rental_date': '2005-05-24 23:03:39', 'inventory_id': 1711, 'customer_id': 408, 'return_date': '2005-06-01 22:12:39', 'staff_id': 1, 'last_update': '2006-02-15 21:30:53'}, {'rental_id': 4, 'rental_date': '2005-05-24 23:04:41', 'inventory_id': 2452, 'customer_id': 333, 'return_date': '2005-06-03 01:43:41', 'staff_id': 2, 'last_update': '2006-02-15 21:30:53'}, {'rental_id': 5, 'rental_date': '2005-05-24 23:05:21', 'inventory_id': 2079, 'customer_id': 222, 'return_date': '2005-06-02 04:33:21', 'staff_id': 1, 'last_update': '2006-02-15 21:30:53'}, {'rental_id': 6, 'rental_date': '2005-05-24 23:08:07', 'inventory_id': 2792, 'customer_id': 549, 'return_date': '2005-05-27 01:32:07', 'staff_id': 1, 'last_update': '2006-02-15 21:30:53'}, {'rental_id': 7, 'rental_date': '2005-05-24 23:11:53', 'inventory_id': 3995, 'customer_id': 269, 'return_date': '2005-05-29 20:34:53', 'staff_id': 2, 'last_update': '2006-02-15 21:30:53'}, {'rental_id': 8, 'rental_date': '2005-05-24 23:31:46', 'inventory_id': 2346, 'customer_id': 239, 'return_date': '2005-05-27 23:33:46', 'staff_id': 2, 'last_update': '2006-02-15 21:30:53'}  ... displaying 10 of 1000 total bound parameter sets ...  {'rental_id': 1000, 'rental_date': '2005-05-31 00:25:56', 'inventory_id': 1774, 'customer_id': 332, 'return_date': '2005-06-08 19:42:56', 'staff_id': 2, 'last_update': '2006-02-15 21:30:53'}, {'rental_id': 1001, 'rental_date': '2005-05-31 00:46:31', 'inventory_id': 1498, 'customer_id': 64, 'return_date': '2005-06-06 06:14:31', 'staff_id': 2, 'last_update': '2006-02-15 21:30:53'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [82]:
df_inventory.to_sql('inventory',motor,schema='films',if_exists='append',index=False)

IntegrityError: (pymysql.err.IntegrityError) (1452, 'Cannot add or update a child row: a foreign key constraint fails (`films`.`inventory`, CONSTRAINT `fk_inventory_film1` FOREIGN KEY (`film_id`) REFERENCES `film` (`film_id`))')
[SQL: INSERT INTO films.inventory (inventory_id, film_id, store_id, last_update) VALUES (%(inventory_id)s, %(film_id)s, %(store_id)s, %(last_update)s)]
[parameters: ({'inventory_id': 1, 'film_id': 1, 'store_id': 1, 'last_update': '2006-02-15 05:09:17'}, {'inventory_id': 2, 'film_id': 1, 'store_id': 1, 'last_update': '2006-02-15 05:09:17'}, {'inventory_id': 3, 'film_id': 1, 'store_id': 1, 'last_update': '2006-02-15 05:09:17'}, {'inventory_id': 4, 'film_id': 1, 'store_id': 1, 'last_update': '2006-02-15 05:09:17'}, {'inventory_id': 5, 'film_id': 1, 'store_id': 2, 'last_update': '2006-02-15 05:09:17'}, {'inventory_id': 6, 'film_id': 1, 'store_id': 2, 'last_update': '2006-02-15 05:09:17'}, {'inventory_id': 7, 'film_id': 1, 'store_id': 2, 'last_update': '2006-02-15 05:09:17'}, {'inventory_id': 8, 'film_id': 1, 'store_id': 2, 'last_update': '2006-02-15 05:09:17'}  ... displaying 10 of 1000 total bound parameter sets ...  {'inventory_id': 999, 'film_id': 223, 'store_id': 2, 'last_update': '2006-02-15 05:09:17'}, {'inventory_id': 1000, 'film_id': 223, 'store_id': 2, 'last_update': '2006-02-15 05:09:17'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)